<ul class="space-y-2">
    {{#foreach navigation}}
        <li>
            <a href="{{url}}" class="py-1.5 text-lg transition-colors duration-200 text-anthracite dark:text-darkText hover:text-orangeValencia dark:hover:text-orangeValencia">
                {{label}}
            </a>
        </li>
    {{/foreach}}
</ul>
