<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Lexend+Deca&display=swap" rel="stylesheet">
    <title>Error - {{error.statusCode}}</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Lexend Deca', sans-serif;
            background-color: #f7f7f7;
            color: #292C2F;
        }
        .container {
            text-align: center;
            max-width: 600px;
            padding: 20px;
            background-color: white;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .title {
            font-family: 'Fira Mono', monospace;
            font-size: 3rem;
            margin-bottom: 20px;
            color: #D84727;
        }
        .description {
            font-size: 1.2rem;
            margin-bottom: 20px;
            color: #666666;
        }
        .link {
            font-size: 1rem;
            color: #D84727;
            text-decoration: none;
            transition: color 0.3s;
        }
        .link:hover {
            color: #A0361D;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="title">{{error.statusCode}} Error</h1>
        <p class="description">{{error.message}}</p>
        <a class="link" href="{{@site.url}}">Go back to Home</a>
    </div>
</body>
</html>
