{{!< default}}

<header class="site-header p-8 bg-gray-100 text-center">
    <div class="container mx-auto">
        <h1 class="site-title text-4xl font-heading">{{tag.name}}</h1>
        {{#if tag.description}}
            <p class="site-description text-base text-gray-600">{{tag.description}}</p>
        {{/if}}
    </div>
</header>

<main class="container mx-auto py-8">
    <div class="post-cards grid grid-cols-1 gap-8">
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    </div>

    {{pagination}}
</main>
